* {
    margin: 0px;
    padding: 0px;
}

/* common related styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    border: 0;
    background: #E55473;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: gold;
    color: black;
}

.section {
    max-width: 1200px;
    padding: 100px;
    margin: 0 auto;


}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

/* banner style  */
#header {
    background: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    padding: 40px 100px 0px 150px;
    justify-content: space-between;
    align-items: center;

}

.banner-content {
    width: 50%;
}

.banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;

}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.banner-img {
    height: 550px;
    padding-right: 50px;
}

/* banner style End  */

/* featured-flowers section start  */

.featured-flowers-container {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;

}

.featured-flowers-pic-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    height: 380px;
    padding: 70px 35px 0px 35px;
}

.featured-flowers-pic-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    height: 380px;
    width: 350px;
    padding: 40px 15px 30px 15px;
}

.featured-flowers-pic-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    height: 380px;
    padding: 70px 45px 0px 45px;
}

.featured-flowers-info p {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.support {
    height: 180px;
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.support-img {
    width: 60px;
    text-align: center;
    margin-left: 50px;
}

.support-p {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* featured-flowers section end  */

/* hot deal section start  */
#hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.hot-deal {
    margin: 0 auto;
    display: flex;
    padding: 40px 100px 45px 150px;
    justify-content: space-evenly;
    align-items: center;

}


.hot-deal-content h2 {
    color: #272727;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 12px;
}

.hot-deal-content p {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}
.hot-deal-pic{
    width: 230px;

}

.btn-center {
    text-align: center;
}

/* hot deal section end  */

/* instagram section start  */
.instagram-container {
    display: flex;
    gap: 18px;
    justify-content: center;
}

.flowers-info img {
    box-shadow: 1px 1px 10px 0.5px #888888;
}

/* instagram section end  */

/* Extra (Our Blog) Section  */

.blog-container {
    display: flex;
    gap: 22px;
    justify-content: center;
}

.blog-info {
    border: 3px solid red;
    padding: 8px;
}

.blog-title {
    color: #393737;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 8px;
}

.blog-title:hover {
    color: darkblue;
}

.blog-description {
    color: rgba(71, 69, 69, 0.6);
    font-size: 17px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 8px;
}

.blog-btn {
    border-radius: 2px;
    border: 0;
    background: red;
    padding: 7px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.blog-btn:hover {
    background-color: cornflowerblue;
    color: darkslategray;
}

/* Extra (Our Blog) Section  */

/* Latest-deal section start */
.latest-deal {
    background-image: url('asset/rectangle.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.latest-deal-input {
    text-align: center;
}

.latest-deal-input input {
    color: rgba(39, 39, 39, 0.60);
    text-align: start;
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
    width: 600px;
}

/* Latest-deal section end */

/* Footer Style  */

#footer {
    background: #111010;
    margin-top: 100px;
}

.footer-content {
    color: #FFF;
    text-align: center;
    padding: 100px 20px;
}

.footer-content h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-p1 {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}

.footer-p2 {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}

/* Footer Style  */